@use "../../../style/mixins" as mixin;
@import url("../../../style/_font.scss");
.labelSingUp{
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #0B1332;
    @include mixin.RegularG12();
}